.wrapper
	min-height 100vh
	> .overlay
		font-size 40px
		absolute 50% 50% false false
		margin -20px -20px 0 0
		color white
a
	cursor pointer
.btn-group.nowrap
	display flex
	> .btn
		flex 0 0 auto
.modal-content, .box
	min-height 100px
	.overlay
		absolute 0
		background rgba(white, 0.7)
		z-index 50
		.fas
			absolute 50% false false 50%
			margin-left -15px
			margin-top -15px
			color black
			font-size 30px
.fa, .fas, .far, .fab
	backface-visibility hidden
	&:before
		backface-visibility hidden