html, body
	overflow hidden
.main-sidebar
	.user-panel
		height 38px
		.info
			overflow ellipsis
			max-width 170px
			left auto
			padding 2px 0 0 0
	.logout-button
		display block
		absolute 0 0 0 false
		width 50px
		padding-top 9px
		text-align center
.content-wrapper
	padding-top 50px
	margin-top -50px
.wrapper
	min-height 100vh
	.box
		overflow visible
	.box-body
		overflow auto
a
	cursor pointer