html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/AdminLTE.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/skins/skin-blue.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/white/pace-theme-minimal.min.css")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.findIndex,Array.prototype.contains,Array.prototype.entries,Array.prototype.keys,Object.entries,Symbol")
		title AdminPanel
	body.skin-blue
		div(data-root-element)