html.vue-admin-front
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/white/pace-theme-minimal.min.css")
		script(src="//cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.findIndex,Array.prototype.includes,Array.prototype.entries,Array.prototype.keys,Object.values,Object.entries,Symbol")
		title Loading...
	body
		div(data-root-element)